<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="909f78">  <td>21/10/16 20:09:37</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Salimand.browserlaunch()[pri:0, instance:insurances21.Salimand@6e4784bc]">&gt;&gt;browserlaunch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@944427387</td>   <td></td> </tr>
<tr bgcolor="909f78">  <td>21/10/16 20:09:44</td>   <td>6970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Salimand.webtitlevalidate()[pri:0, instance:insurances21.Salimand@6e4784bc]">webtitlevalidate</td> 
  <td>main@944427387</td>   <td></td> </tr>
<tr bgcolor="909f78">  <td>21/10/16 20:09:44</td>   <td>6999</td> <td>&nbsp;</td><td title="&lt;&lt;Salimand.terminatebrowser()[pri:0, instance:insurances21.Salimand@6e4784bc]">&lt;&lt;terminatebrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@944427387</td>   <td></td> </tr>
</table>
